<p>teams works!</p>

<br>
<div id="container">
    <p-card header="Teams" > 
        <p-table [value]="TeamsList"> 
            
            <ng-template pTemplate = "header">
                <tr>
                    <th pSortableColumn="name" style="width:30%; color: #81c784;">Team's Name
                        <p-sortIcon field="name"></p-sortIcon>
                    </th>
                    <th pSortableColumn="sport" style="width:30%; color: #81c784;">Sport
                        <p-sortIcon field="sport"></p-sortIcon>
                    </th>
                    <th>
                        <div>
                            <button type="button" label="NEW" pButton class="p-button-rounded" icon="pi pi-plus-circle" style="margin-left:.25em; float: right;" [routerLink]="['/teams/create']" ></button>
                        </div>
                    </th>
                </tr>
            </ng-template>

            <ng-template pTemplate="body" let-TeamsList>

                <tr>
                    <td>{{TeamsList.name}}</td>
                    <td>{{TeamsList.sport}}</td>
                    <td>
                        <div class="p-toolbar-group-right">
                            <p-splitButton  label="" class="split"  icon="pi pi-ellipsis-h" (click)="GetId(TeamsList.id)" [model]="items" styleClass="p-button-primary p-button-raised p-button-rounded p-button-outlined"></p-splitButton>
                        </div>
                    </td>  
                </tr>


            </ng-template>
        </p-table>
    </p-card>
</div>



<router-outlet></router-outlet>