<p-menubar [model]="items">

  <div *ngIf="!UserConnected.connect">
    <button type="button" pButton class="p-button-raised p-button-rounded" icon="pi pi-sign-in" style="margin-left:.25em" [routerLink]="['/users/login']"></button>
  </div>

  <div id="Mobile" *ngIf="UserConnected.connect">

    <span>
      <p-chip label="{{UserConnected.pseudo}}" image="./assets/images/loginball.png" styleClass="mr-2 custom-chip"></p-chip>
  </span>
    <button type="button" pButton class="p-button-raised p-button-rounded" icon="pi pi-sign-out" style="margin-left:.25em" (click)="Logout()"></button>
    
  </div>

</p-menubar>





<router-outlet></router-outlet>    
