
#container{

    margin: 0 auto;
    width: 30%;
    text-align: center;
 
}
#calendar{

    margin: 0 auto;
    width: 30%;
    text-align: center;
    
  
}
.someButton{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    
  }