<p>schedule works!</p>

<div id="calendar">
<full-calendar [options]="calendarOptions" style="display:none;"></full-calendar>
</div>


<br>
<div id="container">
    <p-card header="Games" > 
        <div>
            <button type="button" label="NEW" pButton class="p-button-rounded" icon="pi pi-plus-circle" style="margin-left:.25em;" [routerLink]="['/teams/create']" ></button>
        </div>
        <p-table [value]="GamesList"> 
            
            <ng-template pTemplate = "header">
                <tr>
                    <th pSortableColumn="title" style="width:30%; color: #81c784;">Title
                        <p-sortIcon field="title"></p-sortIcon>
                    </th>
                    <th pSortableColumn="date" style="width:30%; color: #81c784;">Date
                        <p-sortIcon field="date"></p-sortIcon>
                    </th>
                    <th pSortableColumn="startTime" style="width:30%; color: #81c784;">StartTime
                        <p-sortIcon field="startTime"></p-sortIcon>
                    </th>
                    <th pSortableColumn="endTime" style="width:30%; color: #81c784;">EndTime
                        <p-sortIcon field="endTime"></p-sortIcon>
                    </th>
                </tr>
            </ng-template>

            <ng-template pTemplate="body" let-GamesList>

                <tr>
                    <td>{{GamesList.title}}</td>
                    <td>{{GamesList.date | date: 'shortDate' }}</td>     
                    <td>{{GamesList.startTime | date: 'shortTime'}}</td>
                    <td>{{GamesList.endTime | date: 'shortTime'}}</td>
                    
                    
                </tr>


            </ng-template>
        </p-table>
    </p-card>
</div>
