<p>update works!</p>

<div id="container"> 
    <div class="card" id="responsive">
        <p-card header="Edit User"> 
            <form [formGroup]="fg" *ngIf="UserForm === undefined ? false : true" (ngSubmit)="submit()">


                <!-- Peudo -->
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                    <input type="text" formControlName="Pseudo" pInputText placeholder="Pseudo">   
                    
                    
                    
                </div>
                <div id="InvalidState" *ngIf="hasError(fg,'Pseudo', 'required')">
                    <p><i class="pi pi-exclamation-circle"></i>Obligatoire!</p>
                </div>
    
                <br>
    
                <!-- Email -->
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon"><i class="pi pi-send"></i></span>
                    <input type="text" formControlName="Email" pInputText placeholder="Email">    
                    
                    

                </div>
    
                <div id="InvalidState" *ngIf="hasError(fg,'Email', 'required')">
                <p><i class="pi pi-exclamation-circle"></i>Obligatoire!</p>
                </div>
                <br>
                <div id="InvalidState" *ngIf="hasError(fg,'Email', 'email')">
                    <p><i class="pi pi-exclamation-circle"></i>E-mail non conforme!</p>
                    </div>
                    <br>
    
                <!-- Password -->
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon"><i class="pi pi-lock"></i></span>
                    <input type="password" formControlName="Password" pInputText placeholder="Mot de passe">     
                    
                    

                </div>
                
                <div id="InvalidState" *ngIf="hasError(fg,'Password', 'required')">
                    <p><i class="pi pi-exclamation-circle"></i>Obligatoire!</p>
                </div>
                
                <br>
    
                <!-- CheckPassword -->
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon"><i class="pi pi-lock"></i></span>
                    <input type="password" formControlName="ConfirmPassword" pInputText placeholder="Mot de passe">         

                    

                </div>
    
                <div id="InvalidState" *ngIf="hasError(fg,'ConfirmPassword', 'compare')">
                    <p><i class="pi pi-exclamation-circle"></i>Vos Mots de passe ne correspondent pas!</p>
                </div>
                <br>
    
    
                <!-- Button -->
    
                <br><br>
    
                <div>
                    <button type="submit" pButton icon="pi pi-check" style="margin-left:.25em"></button>
                </div>
            </form>
        </p-card>
</div>